body{
    font-family: 'Poppins', sans-serif;
    background-image: url('../img/landing-page.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
